<div id="aboutModal" class="modal fade" tabindex="-1" aria-labelledby="aboutLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <table>
                    <tr>
                        <td rowspan="2">
                            <img id="about-logo" src="./images/logo/logo.svg" alt="logo" class="d-inline-block" width="50" />
                        </td>
                        <td>
                            <span class="app-title">geo<span>quizzer</span></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="app-version badge bg-secondary ms-2">v1.0.0</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body">
                <h4>// About</h4>
                <p>
                    <strong>geoquizzer</strong> is a simple and fun way to learn about global geography and the places that shape it.
                </p>
                <h6>Improvements</h6>
                <p>
                    Contributions and suggestions are welcome on <a href="https://github.com/SteveAndrews/geoquizzer/" target="_blank">GitHub</a>.
                </p>
                <h6>Disclaimers</h6>
                <p>
                    This is a geography learning tool, not a political one.
                    Some geographic areas are politically disputed and are marked accordingly.
                    The information presented reflects the best available data, but may contain errors.
                    No personally identifying information is stored or transmitted to any server except what may be captured by Google Analytics or 3rd party library requests.
                </p>
                <p class="text-muted small mt-4">
                    &copy; <span id="about-copyright"></span> Steve Andrews | All Rights Reserved
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark nav-btn" id="close-btn">Close</button>
            </div>
        </div>
    </div>
</div>