<div id="gameHighScoreModal" class="modal fade" tabindex="-1" aria-labelledby="gameHighScoreModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h1 id="modal-title" class="modal-title fs-5 w-100">// Result</h1>
            </div>
            <div class="modal-body">
                <p id="row-score">
                    <strong>High Score:</strong>
                    <span id="high-score"></span>
                    <span class="text-muted"> <span id="show-previous-score">(prev: <span id="previous-score"></span>)</span></span>
                </p>
                <p id="row-time">
                    <strong>Best Time:</strong>
                    <span id="best-time"></span>
                    <span class="text-muted"> <span id="show-previous-time">(prev: <span id="previous-time"></span>)</span></span>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-dark" data-role="close" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
